*{
      margin: 0%;
      padding: 0%;
      
}
.hero_section{
    color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
}
.herosec1{
      margin-top: 20%;
}
.hero_section img{
      height: 600px;
      width: 450px;
     
}
@media (max-width: 576px) { 
      .hero_section{
            font-size: 12px;
            padding: 0px 50px;
            gap: 15px;
      }
      .hero_section img{
            height: 300px;
            width: 225px;
      }

 }
 .practis{
      background-color: aqua;
      width: 50vw;
 }
